.sidenav {
    height: 100%;
    width: 310px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(192, 2, 135);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 18px 32px;
    text-decoration: none;
    font-size: 140%;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .navicon{
    font-size:50px;
    cursor:pointer;
    margin-left: 25px;
    color: white;
  }
i.side{
  margin-right: 15px;
  font-size: 130%;
}



@media screen and (max-width: 1140px) {
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(192, 2, 135);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
}

  @media screen and (max-width: 640px) {
    .navicon{
    font-size:45px;
    cursor:pointer;
    margin-left: 17px;
    color: white;
  }
}